<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="wurfl" type="WURFL.Aspnet.Extensions.Config.WURFLConfigurationSection, Wurfl.Aspnet.Extensions, Version=1.5.1.1, Culture=neutral, PublicKeyToken=816aeec277aa13b9" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
<!-- Note about WURFL config
       You can use the root operator (~) to refer to a virtual path. --><wurfl mode="Performance">
    <mainFile path="~/App_Data/wurfl-latest.zip" />
  </wurfl></configuration>
